JWT_SECRET=stayease_super_secret_key_change_in_production_9f8x2m
DB_HOST=localhost
DB_NAME=stayease
DB_USER=root
DB_PASS=
CHARGILY_PUBLIC_KEY=test_pk_CoCnjMMK9UQbXYJ6mkkEdh19JIZGtWkbsKnaSXEF
CHARGILY_SECRET_KEY=test_sk_8ph8RNT8DXimULKg7EWGRQ3EbvzknKSRoH2eGnmF
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=9239930d158c85
MAILTRAP_PASSWORD=d5ea1d2c5099a8